@{
    ViewData["Title"] = "Section 6 - Basic Chat";
    var email = User.Identity != null && User.Identity.IsAuthenticated? User.Identity.Name : "Anonymous";
    var users = User.Identity != null 
                    && User.Identity.IsAuthenticated ? 
                    _context.Users.Where(u => u.Email != email).ToList()
                    : new List<IdentityUser>();
}

<h2>@ViewData["Title"]</h2>

<div class="row mb-3">
    <div class="col-3">Sender</div>
    <div class="col-4"><input class="form-control" type="text" value="@email" readonly id="senderEmail" /></div>
</div>
<div class="row mb-3">
    <div class="col-3">Receiver</div>
    <div class="col-4">
        <select class="form-control" id="receiverEmail">
            <option value="">Send to All</option>
            @foreach (var user in users)
            {
                <option value="@user.Email">@user.Email</option>
            }
        </select>
    </div>
</div>
<div class="row mb-3">
    <div class="col-3">Message</div>
    <div class="col-4"><input class="form-control" type="text" id="chatMessage" /></div>
</div>
<div class="row mb-3">
    <div class="col text-end">
        <input type="button" class="btn btn-primary" id="sendMessage" value="Send Message" />
    </div>
</div>
<div class="row mb-3">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row mb-3">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

@section Scripts {
    <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder().withUrl("/hubs/basicChat").build();

        connection.on("receiveMessage", function (sender, message) {
            var li = document.createElement("li");
            li.textContent = `${sender}: ${message}`;
            document.getElementById("messagesList").appendChild(li);
        });

        connection.start().then(function () {
            console.log("Connected to chatHub");
        }).catch(function (err) {
            return console.error(err.toString());
        });

        document.getElementById("sendMessage").addEventListener("click", function (event) {
            var sender = document.getElementById("senderEmail").value;
            var receiver = document.getElementById("receiverEmail").value;
            var message = document.getElementById("chatMessage").value;

            if (receiver.length > 0) {
                connection.invoke("SendMessage", sender, receiver, message).catch(function (err) {
                    return console.error(err.toString());
                });
            }
            else{
                connection.invoke("SendMessageToAll", sender, message).catch(function (err) {
                    return console.error(err.toString());
                });
            }
            event.preventDefault();
        });
    </script>
}