@{
    ViewData["Title"] = "Section 2 - First example";
}

<h2>@ViewData["Title"]</h2>

<div class="row mb-3">
    <div class="col-3">Total Views:</div>
    <div class="col-4">
        <span id="totalViews" class="text-danger fw-bold">0</span>
    </div>
</div>

<div class="row">
    <div class="col-3">Total Users:</div>
    <div class="col-4">
        <span id="totalUsers" class="text-danger fw-bold">0</span>
    </div>
</div>


@section Scripts {
    <script src="~/lib/microsoft-signalr/signalr.min.js"></script>

    <script>
        // 1. create connection
        var connection = new signalR.HubConnectionBuilder().withUrl("/hubs/userCount").build();

        // 2. connect to methods that hub invokes aka receive n otifications from hub
        connection.on("updateTotalViews", (value) => {
            var span = document.getElementById("totalViews");
            console.log("value", value);
            span.innerText = value;
        });

        connection.on("updateTotalUsers", (value) => {
            var span = document.getElementById("totalUsers");
            console.log("value", value);
            span.innerText = value;
        });

        // 3. invoke hub methods aka send notification to hub
        function sendNontificationToHub() {
            connection.invoke("GetTotalViews").catch(function (err) {
                return console.error(err.toString());
            });
        }

        // 4. start connection
        connection.start().then(function () {
            console.log("Connected to the hub");
            sendNontificationToHub();
        }).catch(function (err) {
            return console.error(err.toString());
        });
    </script>
}