@{
    ViewData["Title"] = "Section 7 - Order Update";
}

<h2>@ViewData["Title"]</h2>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Order List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-action="Order" class="btn btn-primary">Create Order</a>
        </div>
    </div>
    <br /><br />

    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Item</th>
                <th>Count</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Styles {
    <link href="~/lib/datatables/css/datatables.bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

@section Scripts {
    <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/lib/datatables/js/jquery.datatables.min.js"></script>
    <script src="~/lib/datatables/js/datatables.bootstrap.min.js"></script>
    <script>
        var dataTable;

        $(document).ready(function () {
            loadDataTable();
        });

        function loadDataTable() {
            dataTable = $('#tblData').DataTable({
                "ajax": {
                    "url": "/Section7/GetAllOrder",
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "id", "autoWidth": true },
                    { "data": "name", "autoWidth": true },
                    { "data": "itemName", "autoWidth": true },
                    { "data": "count", "autoWidth": true },
                    {
                        "data": "id", "width": "50px", "render": function (data) {
                            return '<a class="btn btn-primary" href="/Order/Edit/' + data + '">Edit</a>';
                        }
                    }
                ]
            });
        }

        var connection = new signalR.HubConnectionBuilder().withUrl("/hubs/orderUpdateHub").build();

        connection.on("newOrder", function () {
            dataTable.ajax.reload();
            toastr.success("New Order Received");
        });

        function fulfilled() {
            console.log("connection established");
        }

        function rejected() {

        }

        connection.start().then(fulfilled, rejected);
    </script>
}