@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li><a asp-controller="Section2" class="text-decoration-none">Section 2 &mdash; First example</a></li>
    <li><a asp-controller="Section3" class="text-decoration-none">Section 3 &mdash; Deathly Hallow Race</a></li>
    <li><a asp-controller="Section4" class="text-decoration-none">Section 4 &mdash; Harry Potter House</a></li>
    <li><a asp-controller="Section5" class="text-decoration-none">Section 5 &mdash; Notification Project</a></li>
</ul>
