@{
    ViewData["Title"] = "Home Page";
}

<ul>
    <li><a asp-controller="Section2">Section 2 &mdash; First example</a></li>
    <li><a asp-controller="Section3">Section 3 &mdash; Deathly Hallow Race</a></li>
</ul>
